CompileFlags:
  Remove: [-fno-tree-switch-conversion, -fno-shrink-wrap, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields, -march=rv32imac_zicsr_zifencei]
  QueryDriver: /home/lucas/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20250730/xtensa-esp-elf/bin/xtensa-esp32-elf-gcc
  Add:
    - --target=xtensa-esp32s3-elf
    - -D__INT32_TYPE__=long int
    - -D__UINT32_TYPE__=long unsigned int
  Remove:
    - -fno-tree-switch-conversion
    - -fno-shrink-wrap
    - -mtext-section-literals
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -mdisable-hardware-atomics
    - -march=rv32imac_zicsr_zifencei
